<form name="bulkUploadForm" ng-submit="vm.bulkUpload(vm.result.path)">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;
        </button>
        <h4 class="modal-title" data-translate="entity.upload.title">Upload bulk operation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <button ngf-select="vm.uploadFile($file)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
                Select file to upload
            </button>
            {{vm.file.name}}
                <span class="progress" ng-show="vm.file.progress >= 0" style="width:{{vm.file.progress}}%" ng-bind="vm.file.progress + '%'">
                </span>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
            data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="bulkUploadForm.$invalid" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span
            data-translate="entity.action.approve">Approve</span>
        </button>
    </div>
</form>
