
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" data-translate="hackatonApp.registry.home.createOrEditLabel" ng-show="!vm.registry.id">Create a Registry</h4>
        <h4 class="modal-title" data-translate="hackatonApp.registry.home.createOrEditLabel" ng-show="vm.registry.id">Edit: {{vm.registry.name}}</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
        <div class="container-fluid">
            <div class="row">
                <div class="form-group col-md-5">
                    <label class="control-label" data-translate="hackatonApp.registry.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           ng-model="vm.registry.name"
                           required/>
                    <div ng-show="editForm.name.$invalid">
                        <p class="help-block"
                           ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                            This field is required.
                        </p>
                    </div>
                </div>
                <div class="form-group col-md-7">
                    <label class="control-label" data-translate="hackatonApp.registry.desc" for="field_description">Description</label>
                    <input type="text" class="form-control" name="uuid" id="field_description"
                           ng-model="vm.registry.description" />
                </div>
            </div>
        </div>
        </div>

                <div class="panel panel-default" ng-repeat="category in vm.groups">
                    <div class="panel-heading">
                        <button type="button" class="close" ng-click="vm.removeCategory($index)">&times;</button>
                        <div class="form-inline">
                            <div class="form-group">
                                <label for="categoryName{{$index}}">{{$index + 1}}:</label>
                                <input type="text" class="form-control" name="name" id="categoryName{{$index}}"
                                       ng-model="category.name"/>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="jh-table table table-striped"  ng-init="categIndex = $index">
                            <thead>
                            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                                <th jh-sort-by="name"><span data-translate="hackatonApp.registry.field.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                                <th jh-sort-by="type"><span data-translate="hackatonApp.registry.field.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                                <th jh-sort-by="required"><span data-translate="hackatonApp.registry.field.required">Required</span> <span class="glyphicon glyphicon-sort"></span></th>
                                <th jh-sort-by="min"><span data-translate="hackatonApp.registry.field.min">Min</span> <span class="glyphicon glyphicon-sort"></span></th>
                                <th jh-sort-by="max"><span data-translate="hackatonApp.registry.field.max">Max</span> <span class="glyphicon glyphicon-sort"></span></th>
                                <th jh-sort-by="max"><span data-translate="hackatonApp.registry.field.values">Values</span> <span class="glyphicon glyphicon-sort"></span></th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody ui-sortable ng-model="vm.groupedFields[$index]">
                            <tr ng-repeat="field in vm.groupedFields[$index] track by field.name">
                                <td>{{field.name}}</td>
                                <td>{{field.type}}</td>
                                <td>{{field.required}}</td>
                                <td>{{field.min}}</td>
                                <td>{{field.max}}</td>
                                <td>{{field.extValidation}}</td>
                                <td class="text-right">
                                    <div class="btn-group flex-btn-group-container">
                                        <button type="button"
                                                class="btn btn-info btn-sm" ng-click="vm.removeField(field, categIndex)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                            <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="form-inline">
                            <div class="form-group">
                                <label class="sr-only" for="{{category}}_newFieldName">Field name</label>
                                <input type="text" class="form-control" id="{{category}}_newFieldName" placeholder="Field name" ng-model="vm.newField[categIndex].name">
                            </div>
                            <div class="form-group">
                                <label class="sr-only" for="{{category}}_newFieldType">Field type</label>
                                <select class="form-control" id="{{category}}_newFieldType" ng-model="vm.newField[categIndex].type">
                                    <option></option>
                                    <option>TEXT</option>
                                    <option>NUMBER</option>
                                    <option>DATE</option>
                                    <option>DROPDOWN</option>
                                </select>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="vm.newField[categIndex].required"> Required
                                </label>
                            </div>
                            <div class="form-group" ng-if="vm.newField[categIndex].type == 'NUMBER'">
                                <label class="sr-only" for="{{category}}_newFieldMin">Min value</label>
                                <input type="text" class="form-control" id="{{category}}_newFieldMin" placeholder="Min value" ng-model="vm.newField[categIndex].min"  style="width:100px;">
                            </div>
                            <div class="form-group" ng-if="vm.newField[categIndex].type == 'NUMBER'">
                                <label class="sr-only" for="{{category}}_newFieldMax">Max value</label>
                                <input type="text" class="form-control" id="{{category}}_newFieldMax" placeholder="Max value" ng-model="vm.newField[categIndex].max" style="width:100px;">
                            </div>
                            <div class="form-group" ng-if="vm.newField[categIndex].type == 'DROPDOWN'">
                                <label class="sr-only" for="{{category}}_newFieldValues">Values</label>
                                <input type="text" class="form-control" id="{{category}}_newFieldValues" placeholder="Values" ng-model="vm.newField[categIndex].values">
                            </div>
                            <button type="button" class="btn btn-default pull-right" ng-click="vm.addNewField(categIndex)">Add</button>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.newGroup()">
                    <span class="glyphicon glyphicon-plus"></span>&nbsp;<span data-translate="entity.action.newGroup">New group</span>
                </button>


    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving || !vm.hasAtLeastOneField" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
