<div>
    <h2 data-translate="hackatonApp.registry.home.title">Registries</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">

                <button class="btn btn-primary" ui-sref="registry.new" has-any-authority="ROLE_ADMIN">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="hackatonApp.registry.home.createLabel">
                        Create new Registry
                    </span>
                </button>
                </li>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery"  id="search" onkeyup="searchUserGroup()" placeholder="Search...">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped" id="registryTable">
            <thead>
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                <th jh-sort-by="name"><span data-translate="hackatonApp.registry.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                <th jh-sort-by="desc"><span data-translate="hackatonApp.registry.desc">Desc</span> <span class="glyphicon glyphicon-sort"></span></th>
                <!-- Add the status column -->
                <th jh-sort-by="status" has-any-authority="ROLE_ADMIN"><span data-translate="hackatonApp.registry.status">Status</span><span class="glyphicon glyphicon-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="registry in vm.registries track by registry.id">
                <td><a ui-sref="registry-detail({id:registry.id})">{{registry.name}}</a></td>
                <td>{{registry.desc}}</td>
                <!-- Add the status column -->
                <td has-any-authority="ROLE_ADMIN">{{registry.status}}</td>

                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                    <!-- Add the activate and close buttons -->
                    <button has-any-authority="ROLE_ADMIN" class="btn btn-info btn-sm" ng-click="vm.setStatus(registry, 'CLOSED')" ng-show="registry.status=='ACTIVATED'"
                            data-translate="">Deactivated</button>
                    <button has-any-authority="ROLE_ADMIN" class="btn btn-info btn-sm" ng-click="vm.setStatus(registry, 'ACTIVATED')" ng-show="registry.status=='CLOSED' || registry.status=='DRAFT'"
                             data-translate="">Activated</button>
                        <button type="submit"
                                ui-sref="registry-detail({id:registry.id})"
                                class="btn btn-info btn-sm" has-any-authority="ROLE_DOCTOR">
                            <span class="glyphicon glyphicon-ok"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.approve"></span>
                        </button>
                        <button type="submit"
                                ui-sref="registry.edit({id:registry.id})"
                                class="btn btn-primary btn-sm" has-any-authority="ROLE_ADMIN">
                            <span class="glyphicon glyphicon-pencil"></span>
                            <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                        </button>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>

    <!-- js search function -->
    <script>
        function searchUserGroup() {
            // Declare variables
            var input, filter, table, tr, tdRegistry, i, tdGroups;
            input = document.getElementById("search");
            filter = input.value.toUpperCase();
            table = document.getElementById("registryTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                tdRegistry = tr[i].getElementsByTagName("td")[0];

                if (tdRegistry ) {
                    if ( tdRegistry.innerHTML.toUpperCase().indexOf(filter) > -1 ) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
</div>
