<head>
    <style>
        .adminBtn {
            display: inline-block;
            border-radius: 4px;
            background-color: #337ab7;
            border-color: #2e6da4;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 14px;
            padding: 7px;
            width: 120px;
            transition: all 0.5s;
            cursor: pointer;
            margin: 5px;
        }

        .adminBtn span {
            cursor: pointer;
            display: inline-block;
            position: relative;
            transition: 0.5s;
        }

        .adminBtn span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

        .adminBtn:hover span {
            padding-right: 25px;
        }

        .adminBtn:hover span:after {
            opacity: 1;
            right: 0;
        }
    </style>
</head>

<div>

    <div class="btn-toolbar pull-right row">

        <button type="button" ui-sref="registry-detail.edit({id:vm.registry.id})" class="btn btn-primary" has-any-authority="ROLE_ADMIN">
            <span class="glyphicon glyphicon-pencil"></span>
            <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit </span>
        </button>

        <button class="btn btn-primary" ui-sref="registry-detail.bulk-upload" has-any-authority="ROLE_DOCTOR">
            <span class="glyphicon glyphicon-upload"></span>
            <span class="hidden-xs-down" data-translate="hackatonApp.registry.home.bulkUpload"> Bulk upload </span>
        </button>

        <a class="btn btn-primary" has-any-authority="ROLE_DOCTOR"
           target="_blank" href="/api/registries/{{vm.registry.id}}/template" download="{{vm.registry.name}}.xlsx">
            <span class="glyphicon glyphicon-download"></span>
            <span class="hidden-xs-down"
                  data-translate="hackatonApp.registry.home.downloadTemplate"> Download template </span>
        </a>

        <a class="btn btn-primary" has-any-authority="ROLE_DOCTOR"
           target="_blank" href="/api/registries/{{vm.registry.id}}/pdfExport" download="{{vm.registry.name}}.pdf">
            <span class="glyphicon glyphicon-download"></span>
            <span class="hidden-xs-down"
                  data-translate="hackatonApp.registry.home.exportPdf"> Export PDF </span>
        </a>

    </div>
    </div>
    <h2>{{vm.registry.name}}</h2>
    <a has-any-authority="ROLE_ADMIN" class="adminBtn" style="vertical-align:middle" href="/app/entities/registry/registry-admins.html">
        <span >Adauga admin</span></a>
    <hr>

<div class="table-responsive">
    <table class="jh-table table table-striped" id="registryTable">
        <thead>
        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
            <th jh-sort-by="name" has-any-authority="ROLE_DOCTOR, ROLE_PROVIDER, ROLE_ADMIN"><span>CNP</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="desc"><span>Nume</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="status"><span>Status</span> <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="aprobat de" >
                <span>Aprobat de</span>
                <span class="glyphicon glyphicon-sort"></span></th>
            <th jh-sort-by="data aprobarii"
                has-any-authority="ROLE_ADMIN, ROLE_PATIENT, ROLE_DOCTOR, ROLE_PROVIDER">
                <span>Data aprobarii</span>
                <span class="glyphicon glyphicon-sort"></span></th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="medicalCase in vm.getSpecificMedicalCases">
            <td has-any-authority="ROLE_DOCTOR, ROLE_PROVIDER, ROLE_ADMIN">{{medicalCase.CNP}}</a></td>
            <td>{{medicalCase.Name}}</td>
            <td>{{medicalCase.Status}}</td>
            <td>{{medicalCase.approval_by}}</td>
            <td>{{medicalCase.approval_date}}</td>
            <td class="text-right">
                <div class="btn-group flex-btn-group-container">

                    <button type="submit"
                            ui-sref="registry-detail.medical-case-view({cnp:medicalCase.CNP})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        <span class="hidden-sm-down"
                              data-translate="entity.action.view">View</span>
                    </button>

                    <button has-any-authority="ROLE_DOCTOR, ROLE_PROVIDER, ROLE_ADMIN"
                            type="submit"
                            class="btn btn-success btn-sm"
                            ng-click="vm.changeStatus(medicalCase, 'APPROVED')"
                            ng-show="medicalCase.Status == 'PENDING_APPROVAL'"
                            onClick="window.location.reload();">

                        <span class="glyphicon glyphicon-flag"></span>
                        <span class="hidden-sm-down ng-scope"
                              data-translate="entity.action.approve">Approve</span>
                    </button>


                    <button has-any-authority="ROLE_PATIENT, ROLE_DOCTOR, ROLE_ADMIN"
                            type="submit"
                            ui-sref="registry-detail.medical-case-edit({cnp:medicalCase.CNP})"
                            class="btn btn-warning btn-sm"
                            ng-show="medicalCase.Status != 'ARCHIVED'">
                        <span class="glyphicon glyphicon-pencil"></span>
                        <span class="hidden-sm-down ng-scope" data-translate="entity.action.edit">Update</span>
                    </button>

                    <button has-any-authority="ROLE_PATIENT, ROLE_DOCTOR, ROLE_PROVIDER, ROLE_ADMIN"
                            type="submit"
                            ui-sref="registry-detail.medical-case-delete({cnp:medicalCase.CNP})"
                            class="btn btn-danger btn-sm"
                            ng-show="medicalCase.Status == 'PENDING_APPROVAL'">
                        <span class="glyphicon glyphicon-trash"></span>
                        <span class="hidden-sm-down ng-scope" data-translate="entity.action.delete">Sterge</span>
                    </button>

                    <button has-any-authority="ROLE_DOCTOR, ROLE_ADMIN"
                            type="submit"
                            ng-click="vm.changeStatus(medicalCase,'ARCHIVED')"
                            class="btn btn-success btn-sm"
                            ng-show="medicalCase.Status != 'PENDING_APPROVAL' && medicalCase.Status != 'ARCHIVED'"
                            onClick="window.location.reload();">

                        <span class="glyphicon glyphicon-paperclip"></span>
                        <span class="hidden-sm-down ng-scope" data-translate="entity.action.archive">Archive</span>
                    </button>

                    <a class="btn btn-primary btn btn-info btn-sm" has-any-authority="ROLE_PATIENT, ROLE_DOCTOR, ROLE_PROVIDER, ROLE_ADMIN"
                       target="_blank" href="/api/medical-cases/{{medicalCase.id}}/pdfExport" download="{{medicalCase.Name}}.pdf">
                        <span class="glyphicon glyphicon-floppy-disk"></span>
                        <span class="hidden-xs-down"
                              data-translate="hackatonApp.registry.home.exportPdf"> Export </span>
                    </a>

                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="text-center">
    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
</div>

</tbody>

    <hr>

    <button type="submit"
                ui-sref="registry-detail.medical-case-new"
            class="btn btn-info">
        <span class="glyphicon glyphicon-plus"></span>&nbsp;<span data-translate="New medical case"> New medical case</span>
    </button>
    <button type="submit"
            ui-sref="{{ vm.previousState }}"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>
    </button>
</div>
