<div>
    <h2 data-translate="hackatonApp.registryField.home.title">Registry Fields</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="registry-field.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="hackatonApp.registryField.home.createLabel">
                        Create new Registry Field
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'hackatonApp.registryField.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="order"><span data-translate="hackatonApp.registryField.order">Order</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="category"><span data-translate="hackatonApp.registryField.category">Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="registry.id"><span data-translate="hackatonApp.registryField.registry">Registry</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="field.id"><span data-translate="hackatonApp.registryField.field">Field</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="registryField in vm.registryFields track by registryField.id">
                    <td><a ui-sref="registry-field-detail({id:registryField.id})">{{registryField.id}}</a></td>
                    <td>{{registryField.order}}</td>
                    <td>{{registryField.category}}</td>
                    <td>
                        <a ui-sref="registry-detail({id:registryField.registry.id})">{{registryField.registry.id}}</a>
                    </td>
                    <td>
                        <a ui-sref="field-detail({id:registryField.field.id})">{{registryField.field.id}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="registry-field-detail({id:registryField.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="registry-field.edit({id:registryField.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="registry-field.delete({id:registryField.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
